.FormPizza {
    background-color: white;
}

.form-pizza {
    font-family: Barlow;
    max-width: 38rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: white;
}

/* Isim Alani*/
.form-group-name {
    margin-bottom: 1.5rem;
}

.form-group-name input[type="text"] {
    background-color: #FAF7F2;
    width: 100%;
    padding: 0.625rem;
    border: 0.063rem solid #ddd;
    border-radius: 0.313rem;
    background-color: #FAF7F2;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.313rem;
}

legend {
    color: #5F5F5F;
    font-size: 1rem;
}

label span {
    color: red;
}

/* Boyut Seç ve Hamur Seç yan yana */
.row-size-dough {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

/* Boyut Seç */
.size-options {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.size-options p {
    display: block;
    font-weight: bold;
    margin-bottom: 0.313rem;
}

.row-size {
    display: flex;
}

.size-options label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    border: 0.063rem solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    background: #FAF7F2;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}

.size-options input[type="radio"] {
    display: none;
}

.size-options input[type="radio"]:checked+label {
    background: #FFEECC;
    border-color: #FFEECC;
}

/* Hamur Seç */
.form-group-dough {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

/* Malzeme Seç */
.ingredient-options {
    margin-bottom: 1.5rem;
}

.ingredient-options label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ingredient-options-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
    background: white;
    color: #FAF7F2;
}

.ingredient-options p {
    font-size: 1rem;
    color: #5F5F5F;
}

.row-ingredient {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.row-ingredient input[type="checkbox"] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #FAF7F2;
    border: 0.125rem solid #ccc;
    border-radius: 0.188rem;
    cursor: pointer;
}

.row-ingredient input[type="checkbox"]:checked {
    background-color: #ffc107;
}

/* Malzeme etiketleri */
.ingredient-options label {
    color: black;
}

/* Sipariş Notu */
textarea {
    width: 100%;
    height: 3.75rem;
    padding: 0.625rem;
    border: 0.063rem solid #ddd;
    border-radius: 0.313rem;
    background-color: #FAF7F2;
    margin-bottom: 1.5rem;
}

/* Sayaç ve Sipariş Özeti yan yana */
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.5rem;
}

/* Sayaç */
.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0.063rem solid #D9D9D9;
    border-radius: 0.313rem;
}

.quantity button {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.063rem solid #D9D9D9;
    background: #ffc107;
    color: white;
    font-size: 1.125rem;
    border-radius: 0.313rem;
    cursor: pointer;
}

.quantity span {
    padding: 0 1.25rem;
    font-size: 1.125rem;
}

/* Sipariş Özeti */
.order-summary {
    flex: 1;
    background: #FAF7F2;
    padding: 2rem;
    border: 0.063rem solid #5F5F5F80;
    border-radius: 0.313rem;
    min-height: 10rem;
}

.order-summary p {
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.smmry-choose,
.smmry-total {
    display: flex;
    justify-content: space-between;
}

.smmry-total {
    color: red;
}

.submit-button {
    width: 100%;
    background: #ffc107;
    color: black;
    font-size: 1rem;
    padding: 0.625rem;
    border: none;
    border-radius: 0.313rem;
}

/* Hata mesajlari */
.invalid-feedback {
    display: block;
    margin-top: 0.313rem;
    font-size: 0.9rem;
    color: red;
}
