.assent {
    background-color: #CE2829;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellowText {
    font-family: Satisfy;
    font-size: 2rem; 
    color: #FDC913;
}

h1 {
    font-size: 2rem; 
    color: #FFFFFF;
    line-height: 6rem; 
    font-family: Roboto Condensed;
    font-weight: 400;
}

.horizontal-line {
    width: 70%;
    height: 2px; 
    background-color: white;
    margin: 1.25rem 0; 
}

.pizzaName {
    font-size: 1.5rem; 
    color: #FFFFFF;
    font-family: Barlow;
    font-weight: bold;
}

.order-detail {
    width: 14rem; 
    height: 10rem; 
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.order-detail p {
    font-family: Barlow;
    font-size: 1rem; 
    color: #FFFFFF;
}

.payment {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF; 
    margin: 5rem auto;
    padding: 2rem; 
    width: 22rem; 
    height: 13rem; 
    gap: 1rem;
}

.payment p {
    color: #FFFFFF;
    font-weight: bold;
}

.chooser, .totals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}
